<header>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ site.baseurl }}/pages/home.html">
			<span data-feather="activity"></span>
			问卷分析
		</a>
		<input class="form-control form-control-dark w-100" type="text" placeholder="搜索" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="{{ site.baseurl }}/">退出</a>
			</li>
		</ul>
	</nav>
</header>
