<nav class="weui-flex nav-orders">
	<div class="weui-flex__item {% if page.url contains 'orders-done' %}tab-current{% endif %}">
		<a href="{{ site.baseurl }}/pages/orders-done.html">
			<span style="display: inline-block; position: relative;">
				已完成
			</span>
		</a>
	</div>

	<div class="weui-flex__item {% if page.url contains 'orders-unpaid' %}tab-current{% endif %}">
		<a href="{{ site.baseurl }}/pages/orders-unpaid.html">
			<span style="display: inline-block; position: relative;">
				待支付
				<span class="weui-badge" style="position: absolute; top: 0.4em; right: -1em;">2</span>
			</span>
		</a>
	</div>

	<div class="weui-flex__item {% if page.url contains 'orders-undelivered' %}tab-current{% endif %}">
		<a href="{{ site.baseurl }}/pages/orders-undelivered.html">
			<span style="display: inline-block; position: relative;">
				待发货
			</span>
		</a>
	</div>

	<div class="weui-flex__item {% if page.url contains 'orders-unreceived' %}tab-current{% endif %}">
		<a href="{{ site.baseurl }}/pages/orders-unreceived.html">
			<span style="display: inline-block; position: relative;">
				待收货
			</span>
		</a>
	</div>
</nav>

<div style="height: 40px;"></div>